
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#3C3C3D;
    font-family:inherit;
    font-size:30px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: white;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    color: white;
    font-family:inherit;
    overflow:visible;
    text-align:center;
}

h2 {
    color: white;
    font-family:inherit;
    overflow:visible;
    text-align:center;
}

button {
    font-family:inherit;
    overflow:visible;
    text-align:center;
}

@media screen and (min-device-width: 710px) {
    h1 {
        font-size: 40px;
        margin-top: 6px;
    }
    
    h2 {
        font-size: 30px;
        margin-top: 4px;
    }
    
    body {
        font-size: 25px;
        margin-top: 2px;
    }
    
    button {
        font-size: 30px;
        margin-top: 4px;
    }
}

@media screen and (min-device-width: 1070px) {
    h1 {
        font-size: 60px;
        margin-top: 8px;
    }
    
    h2 {
        font-size: 45px;
        margin-top: 6px;
    }
    
    body {
        font-size: 35px;
        margin-top: 5px;
    }
    
    button {
        font-size: 45px;
        margin-top: 6px;
    }
}

table{
    align: center;
    width:device;
}

tr{
    align: center;
}

img{
    align: center;
    width: 100px;	
    height: 100px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}